@{
    ViewData["Title"] = "Personal Request";
}
<div class="container" id="perReq">
    <h2>Personal Request</h2>
    <input type="text" placeholder="Your message will be assured to stay confidential and nothing will be exposed." />
    <input type="submit" class="btn btn-primary" id="submitperReq" value="Submit">
</div>