html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.background {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../image/background.jpg");
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 8.5in;
}

.landingPageText {
    text-align: center;
    position: absolute;
    color: white;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0%);
    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 1));
    letter-spacing: 1px;
}

.serviceDropdown {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.serviceDropdown-item {
    text-align: left;
    position: absolute;
}

.landingPageText h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 125px;
    color: #EBEBEB;
}

.AppointmentPage {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../image/background.jpg");
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
}

#serviceCard {
    background: #ffffffd1;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.35);
    padding: 1em;
    margin-left: 5em;
    margin-right: 5em;
    text-align: center;
}
    #serviceCard h2 {
        padding-top: 2%
    }
    #serviceCard i {
        font-size: 150px;
        align-self: center;
        padding-top: 50px;
    }
    #serviceCard p {
        text-align: center;
        justify-content: center;
        padding-top: 40px;
        font-size: 18px;
        font-style: italic;
    }
    #serviceCard button {
        margin-top: 30px;
        background-color: #8C8135;
        align-self: center;
        color: #fff;
        font-size: 20px;
        padding: 10px 45px;
        margin-bottom: 50px;
        border: 1px solid transparent;
        border-radius: 8px;
        font-weight: 600;
        letter-spacing: 0.999px;
        text-transform: uppercase;
        cursor: pointer;
    }
    #serviceCard a {
        margin-top: 30px;
        background-color: #8C8135;
        display: inline-block;
        align-self: center;
        color: #fff;
        font-size: 20px;
        padding: 10px 45px;
        margin-bottom: 50px;
        border: 1px solid transparent;
        border-radius: 8px;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 0.999px;
        text-transform: uppercase;
        cursor: pointer;
    }

#table-app {
    background: white;
    position: absolute;
    left: 27%;
    top: 25%;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.35);
    overflow: hidden;
    width: 750px;
    max-width: 100%;
    min-height: 450px;
}

    #table-app h2 {
        text-align: center;
        padding-bottom: 10px;
    }

#hotline{
    position:relative;
    top:85%;
    color: white;
    font-size: 25px;
    font-weight: 500;
    filter: drop-shadow(0px 4px 3px rgba(0,0,0,1));
}

#para1 p {
    position: absolute;
    top: 90%;
    left: 1%;
    color: white;
    font-weight: 700;
    font-size: 25px;
    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 1));
}

#para2 p {
    position: absolute;
    top: 90%;
    left: 24%;
    color: white;
    font-weight: 700;
    font-size: 25px;
    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 1));
}

#para3 p {
    position: absolute;
    top: 90%;
    left: 38%;
    color: white;
    font-weight: 700;
    font-size: 25px;
    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 1));
}

#para4 p {
    position: absolute;
    top: 90%;
    left: 65%;
    color: white;
    font-weight: 700;
    font-size: 25px;
    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 1));
}

#para5 p {
    position: absolute;
    top: 90%;
    left: 84%;
    color: white;
    font-weight: 700;
    font-size: 25px;
    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 1));
}

#notif-1 {
    background: #8c8135c5;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2%;
    right: 2%;
    width: 450px;
    max-width: 100%;
    min-height: 100px;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.35);
    overflow: hidden;
}

#notif-1 p {
    text-align: center;
    justify-content: center;
    padding-top: 15px;
    font-size: 18px;
    font-style: normal;
    color: white;
    font-weight: 300;
}
#notif-2 {
    background: #8c8135c5;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    right: 2%;
    width: 450px;
    max-width: 100%;
    min-height: 100px;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.35);
    overflow: hidden;
}

    #notif-2 p {
        text-align: center;
        justify-content: center;
        padding-top: 15px;
        font-size: 18px;
        font-style: normal;
        color: white;
        font-weight: 300;
    }
#notif-3 {
    background: #8c8135c5;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    right: 2%;
    width: 450px;
    max-width: 100%;
    min-height: 100px;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.35);
    overflow: hidden;
}

    #notif-3 p {
        text-align: center;
        justify-content: center;
        padding-top: 15px;
        font-size: 18px;
        font-style: normal;
        color: white;
        font-weight: 300;
    }

.background-2 {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../image/back3.png");
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 8.5in;
}

.services {
    text-align: center;
    position: absolute;
    color: white;
    top: 7.5%;
    left: 17.5%;
    transform: translate(-50%, 0%);
    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 1));
    letter-spacing: .5px;
}
.services h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    color: #EBEBEB;
}